#top_bar {
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: rgba(176, 224, 230, 0.65);
    width: 100%;
    z-index:999;
}

body {
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	background-size: cover;
    background-position: center;
    background-repeat: repeat;
	background-size: auto;
}


.background_thingy {
	position: absolute;
    width: 100%;
	left: 0px;
	top: -12rem;
	height: auto;
	height: auto;
    background-image: url('green.jpg'); 
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    opacity: 0;  /* Default visible */
    z-index: -1; /* Behind content */
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
}



.links {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	
}


.links a {
    margin: 10px 0; /* Adds spacing between each link */
    display: inline-block; /* Prevents text from affecting other elements */
    transition: transform 0.5s ease-in-out; /* Smooth animation */
}

html {
    scroll-behavior: smooth;
	background-image: url("green.jpg");
	max-width: 99.4976158%;
}

.bio {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal; /* Allows line breaks */
    width: 300px; /* Adjust as needed */
    height: 200px; /* Allow dynamic height */
    background-color: gray; /* Just for visualization */
    margin: 100px auto; /* Centers and adds spacing */
    padding: 5px; /* Adds space inside the div */
    border-radius: 10px; /* Slight rounded edges */
    font-size: 10px;
}


.bio p {
    margin-bottom: 10px; /* Adds spacing between paragraphs */
}

.links .assembly_link:hover {
	transform: scale(1.2);
}

.links .bar_and_grill_link:hover {
	transform: scale(1.2);

}
.links .tommyos_link:hover {
	transform: scale(1.2);
}